.main_container {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/login_background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: clamp(1.8rem, 4vw, 3rem);
    font-weight: 600;
}

.logo {
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    left: 40px;
}

.sign_out {
    position: absolute;
    top: 20px;
    right: 90px;
    font-size: clamp(1rem, 3vw, 1.8rem);
    color: #fff;
    cursor: pointer;
}