.main_container {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/login_background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: 600;
}