.calendar {
    width: 80%;
    height: auto;
    background-color: #fff;
}

.header {
    width: 100%;
    padding: 0 10px;
    background-color: var(--blue);
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.days_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--blue);
}

.days_name {
    width: calc(100% /7);
    padding: 10px;
}

.days_name p {
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
}

.calendar .day {
    position: relative;
    width: calc(100% /7);
    height: 140px;
    display: inline-block;
    background-color: rgb(201, 201, 201);
    z-index: 1;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
}

.calendar .day:hover {
    background-color: rgb(124, 124, 124);
}